accelerate==0.21.0
aiohttp==3.8.5
aiosignal==1.3.1
appdirs==1.4.4
async-timeout==4.0.2
attrs==23.1.0
audeer==1.20.1
audioread==3.0.0
audobject==0.7.9
audonnx==0.6.3
auto-gptq==0.3.1
backports.functools-lru-cache==1.6.6
bitsandbytes-windows==0.37.5
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.6
cn2an==0.5.20
colorama==0.4.6
coloredlogs==15.0.1
Cython==3.0.0
dataclasses-json==0.5.14
datasets==2.14.3
decorator==5.1.1
dill==0.3.7
einops==0.6.1
eng-to-ipa==0.0.2
filelock==3.9.0
flatbuffers==23.5.26
frozenlist==1.4.0
fsspec==2023.6.0
greenlet==2.0.2
huggingface-hub==0.16.4
humanfriendly==10.0
idna==3.4
importlib-metadata==6.8.0
indic-transliteration==2.3.48
inflect==7.0.0
jamo==0.4.1
jieba==0.42.1
Jinja2==3.1.2
joblib==1.3.1
ko-pron==1.3
langchain==0.0.252
langsmith==0.0.18
lazy_loader==0.3
librosa==0.10.0.post2
llvmlite==0.40.1
MarkupSafe==2.1.2
marshmallow==3.20.1
mpmath==1.2.1
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.15
mypy-extensions==1.0.0
networkx==3.0
num-thai==0.0.5
numba==0.57.1
numexpr==2.8.4
numpy==1.24.1
onnx==1.14.0
onnxruntime==1.15.1
openapi-schema-pydantic==1.2.4
OpenCC==1.1.1
openjtalk==0.3.0.dev3
oyaml==1.0
packaging==23.1
pandas==2.0.3
peft==0.4.0
Pillow==9.3.0
pooch==1.6.0
proces==0.1.6
protobuf==4.23.4
psutil==5.9.5
pyarrow==12.0.1
pycparser==2.21
pydantic==1.10.12
pypinyin==0.49.0
pyreadline3==3.4.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3
PyYAML==6.0.1
regex==2023.6.3
requests==2.28.1
roman==4.1
rouge==1.0.1
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.5
SQLAlchemy==2.0.19
sympy==1.11.1
tenacity==8.2.2
threadpoolctl==3.2.0
tokenizers==0.13.3
toml==0.10.2
torch==2.0.0+cu117
torchaudio==2.0.1+cu117
torchvision==0.15.1+cu117
tqdm==4.65.0
transformers==4.31.0
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.4.0
tzdata==2023.3
Unidecode==1.3.6
urllib3==1.26.13
xxhash==3.3.0
yarl==1.9.2
zipp==3.16.2
